bin/
obj/
**/bin/
**/obj/
data/*.json
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.dbmdl
*.log
*.tlog
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db
*.vscode/
*.ncrunch*
_ReSharper*/
[Tt]est[Rr]esult*/
*.DotSettings.user
*.dotCover
*.coverage
*.idea/
*.DS_Store
*.env
appsettings.json
*.localhistory/
*.tmp
*.bak
*.swp
*.PublishProfiles/
*.nuget/
packages/
*.nupkg
*.snupkg
*.VisualState.xml
*.psess
*.vsp
*.vspscc
*.vssscc
*.userprefs
*.sdf
*.db
*.pidb
*.suo
*.sln.docstates
*.orig
*.ipch
*.aps
*.ncb
*.opensdf
*.sbr
*.unsuccessfulbuild
*.publish.xml
TestResults/
publish/
node_modules/
wwwroot/lib/